*{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}



.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {

  font-size: 40px;
  color: #D6FDF9;
  line-height: 48px;
  display: inline;
}

h2 {
  font-style: bold;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-style: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 16px;
  float: right;

}

p {
  font-size: 18px;
  font-weight: bold;
  color: #D6FDF9;
  line-height: 21px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.flex-item {
  font-size: 14px;
}

.flex-item:hover {
  background-color: #252D38;
  font-size: 18px;
}

.contacts-a {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 0;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #D6FDF9;
  line-height: 28px;
}

#skillsH3 {
  color: #FFFFFF;
  display: none;
}

#skills {
  display: none;
  padding-right: 70%;
}

.light-green {
  background-color: #AAE88A;
}

.blue-text {
  color: #5E8ABF;
}

.skills-text {
  font-weight: bold;
  font-size: 17px;
  color: rgb(130, 130, 49);
}


.orange-text {
  color: #F5AE23;
}

.light-teal-text{
  font-weight: bold;
  color: #D6FDF9;
}

.white-text {
  font-weight: bold;
  color: #FFFFFF;
}

.white {
  background-color: #FFFFFF;
}

.light-teal {
   background-color: rgba(76, 212, 220, 0.9);
}

.mapbgimg {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    right:1;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

.coral {
  background-color: #BCDAE8;
  padding-bottom: 10px;
  clear:both;
}

.dark-teal {
  background-color: rgba(0, 128, 97, 0.9);
}

.dark-teal-map {
  background-color: rgba(0, 128, 97, 0.7);
}

.dark-gray {
  background-color: #4A4A4A;
} 

#maps-flex {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;

}

#header {
    background-color: rgba(0, 128, 97, 0.7);
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 5%;
}

ul {
  list-style-type: none;
}


.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

.img-content {
  padding: 10px;
  width: 197px;
  height: 148px;
}

.img-content:hover {
  height: 300px;
  width: 400px;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 300px;
  width: 50%;
  padding-bottom: 25%;
}

#pano {
  height: 300px;
  width: 50%;
  margin-top: 90px;
}

#footerContacts {
  background-color: darkcyan;
}


#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
  #skills {
    padding-right: 60%
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
  #skills {
    padding-right: 60%;
  }
}


@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
  #skills{
    padding-right: 40%;
  }
  #header {
    background-color: darkcyan;
    background-image: none;
  }
  #pano {
    display: none;
  }
  #mapDiv {
  height: 150px;
  width: 100%;
  margin-bottom: 35%;
  padding-bottom: 0;
  }
}

@media only screen and (max-width: 1100px) {
  #skills {
    padding-right: 65%;
  }
}

@media only screen and (max-width: 825px) {
  #skills {
    padding-right: 45%;
  }
  img:hover {
    height: auto;
    width: auto;
  }
}

@media only screen and (max-width: 1210px) {
  #skills {
    padding-right: 40%;
  }
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  #skills,
  .biopic {
    display: block;
  }

}
